<!doctype html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap 다운로드 ver
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">

  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>

  <!-- 공통 CSS 연결 -->
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
  <title>Q&A 서비스</title>
</head>
<body style="min-height:100vh;" class="d-flex flex-column">

<!-- 네비게이션바 -->
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<!-- NAV바 따로 만들어 저장. -->

<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->

<!-- Bootstrap JS -->
<script th:src="@{/bootstrap.min.js}"></script>

</body>
</html>