<html lang="ko"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">

  <div layout:fragment="content" class="container my-3">

    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
    <div class="card my-3">
      <div class="card-body">
        <div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>
        <div class="d-flex justify-content-end">
          <div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
            <div class="mb-2">수정날짜</div>
            <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
          </div>

          <div class="badge bg-light text-dark p-2 text-start">
            <div class="mb-2">
              <span th:text="${question.author?.username}"></span>
            </div>
            <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
          </div>
        </div>

        <div class="my-3">

          <a onclick="if(!confirm('정말 추천하시겠습니까?')) return false;" th:href="@{|/question/vote/${question.id}|}" class="bi bi-hand-thumbs-up-fill">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
              <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
            </svg>추천
            <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
          </a>
          <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
             sec:authorize="isAuthenticated()"
             th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
             th:text="수정"></a>
          <a onclick="if(!confirm('정말 삭제하시겠습니까?')) return false;" th:href="@{|/question/delete/${question.id}|}"
             class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
             th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
             th:text="삭제"></a>
        </div>
      </div>
    </div>


    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">

      <div th:replace="~{form_errors :: formErrorsFragment}"></div>

      <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>
      <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>

      <input sec:authorize="isAnonymous()" disabled type="submit" value="답변등록" class="btn btn-primary my-2">
      <input sec:authorize="isAuthenticated()" type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>
    <!-- 답변 작성 끝 -->

    <!-- 답변의 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2"
        th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer : ${question.answerList}">
      <a style="scroll-margin-top:10px" th:id="|answer_${answer.id}|"></a>
      <div class="card-body">
        <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
        <div class="d-flex justify-content-end">
          <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
            <div class="mb-2">수정날짜</div>
            <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
          </div>
          <div class="badge bg-light text-dark p-2 text-start">
            <div class="mb-2">
              <span th:text="${answer.author?.username}"></span>
            </div>
            <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
          </div>
        </div>
        <div class="my-3">
          <a onclick="if(!confirm('정말 추천하시겠습니까?')) return false;" th:href="@{|/answer/vote/${answer.id}|}" class="recommend btn btn-sm btn-outline-secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
              <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
            </svg>추천
            <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
          </a>

          <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
             sec:authorize="isAuthenticated()"
             th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
             th:text="수정"></a>

          <a onclick="if(!confirm('정말 삭제하시겠습니까?')) return false;" th:href="@{|/answer/delete/${answer.id}|}"
             class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
             th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
             th:text="삭제"></a>
        </div>
      </div>
    </div>
    <!-- 답변 반복 끝  -->


  </div>
</html>